.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
   flex-direction: column;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

body{
  margin: 0;
  padding: 0;
}

.post{
  width: 300px;
  height: 200px;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(47, 50, 50);;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

.post .title{
  height: 40px;
  border: 1px solid black;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post .designation {
  height: 200px;
  border-bottom: 1px solid black;
  font-size: 50px;
  font-family: fantasy;
}

.post .level{
  display: flex;
  flex-direction: column;
  height: 50px;
  font-size: xx-small;
}

.post:hover{
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.addEmployeePage{
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 15px;
  border-radius: 5px;
}

.formContainer #addEmployee {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(48, 47, 47);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button{
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: rgb(48, 47, 50);
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
cursor: pointer;
background-color: white;
color: rgb(49, 48, 50);
border: 1px solid rgb(49, 48, 50);;
}

span{
  color: red;
}

.header{
  background-color: rgb(49, 48, 50);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header a{
  color: white;
  font-size: small;
  text-decoration: none;
  margin-left: 20px;
}
.header a:hover{
  font-size: large;
  border: 1px solid white;
  text-decoration: none;
  margin-left: 20px;
}

.empDetailPage{
  /* text-align: center;
  border: 1px dotted rgb(6, 154, 105);
  width: 80%;
  height: 650px;
  margin-top: 10px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide{
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide{
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

#individual{
  height: 300px;
  width: 600px;
}

#individual .title, 
#individual .footer{
height: 50px;
  border: 1px solid black;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#individual .footer{
  margin-top: 200px;
}

#individual .body{
  font-size: 25px;
}


.addReviewCOntainer input{
  min-height: 100px;
  width: 400px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
  margin-bottom: 10px;
  border-color: black;
}

.addReviewCOntainer button{
  width: 200px;
  background-color:black;
  border-color:  white;
  color: white;
  border-radius: 10%;

}

.addReviewCOntainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 100px;
}

.listOfReviews{
  width: 500px;
  height:max-content;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.review{
  height: 50px;
  margin: 5px;
 border: 1px solid black;
 color: black;
 border-radius:   8px;

}
